https://github.com/tpope/vim-haml.gi

https://github.com/tpope/vim-haml.git

https://github.com/tpope/vim-haml.git

#profile
  .left.column
    #date= print_date
    #address= current_user.address
  .right.column
    #email= current_user.email
    #bio= current_user.bio
